In [ ]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pylot as plt

In [ ]:
df = pd.read_csv("")
df.head

# 1. Cleaning Data

mengambil kriteria yang diperlukan

In [ ]:
df = df[['full_text', 'username', 'created_at']]
df.shape

menampilkan dan menghapus data duplicate

In [ ]:
df.duplicated().sum()
df = df.drop_duplicates(subset=['full_text'])

Melihat apakah ada data yang duplicate

In [ ]:
df.duplicated().sum()

Mengecek variabel yang kosong

In [ ]:
df.isnull().sum()
df.shape

In [ ]:
def clean_twitter_text(text):
  text = re.sub(r'@[A-Za-z0-9_]+', '', text) #Menghapus mention
  text = re.sub(r'#\w+', '', text) #Menghapus HasTag
  text = re.sub(r'RT[\s]+', '', text) #Menghapus repeat
  text = re.sub(r'https?://\S+', '', text) #Menghapus URL
  text = re.sub(r'[A-Za-z0-9 ]', '', text) #Menghapus karakter Non-AlfaNumeric
  text = re.sub(r'\s+', '', text).strip() #Menghapus space yg leih dari 1

  return text

df ['full_text'] = df['full_text'].apply(clean_twitter_text)

NameError: name 'df' is not defined

In [ ]:
df['full_text'] = df['full_text'].str.lower() # Mengubah kata menjadi lower case

# Preprocessing :
*   Normalisasi
*   Stopword
*   Tokenize
*   Stemming

In [ ]:
norm = {" yg" }